.jumbotron{
    background-color: #ececec;
    padding: 3rem !important;
    margin-bottom: 1.5rem !important;
    border: 1px solid #dee2e6 !important;
    border-radius: 0.3rem !important;
}

.main-footer{
    background-color: #33ccff;
}

.rights{
    background-color: #03befc;
}

.navbar-brand{
    color: #eee !important;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #ddd !important;
}

.nav-link{
    color: #eee;
}
.nav-link:hover, .nav-link:focus {
    color: #ddd;
}

.dropdown-divider{
    color: #eee;
}

.dropdown-item.active, .dropdown-item:active {
  color: #eee;
  text-decoration: none;
  background-color: #33ccff;
}

.breadcrumb {
    margin-bottom: 0rem !important;
    padding: 0rem !important;
}

nav .dropdown:hover .dropdown-menu
{
    display: block;
}