<footer class="main-footer pt-3 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <address>+55 12 994-555-111
                    <br/>
                    <a href="mailto:ramalho@python.pro.br" class="text-light">{{ contato_email }}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Python Pro®. Todos os direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>